.header{
    display:flex;
    justify-content: space-between;
    flex:1;
    padding:12px;
    position: relative;
    align-items: center;
}

.menu{
    display:flex;
    flex:1;
    justify-content: flex-end;
}

.menu-icon {
    font-size: 24px;
}

.mobile-menu{
    display:none;
}

.web-menu{
    display:flex;
}

.logo{
    display:flex;
    height:100px;
    margin-top:30px;
    
}

@media only screen and (max-width:720px){
    .mobile-menu{
        display:flex;
        font-size: 24px;
    }
    .web-menu{
        display:none
    }
    .logo{
        display:flex;
        height:60px;
    }
}
